.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--task-bg);
  padding: 25px 10px;
  margin: 10px auto;
  border-radius: 40px;
  box-shadow: 0px 2px 6px #00000026;
}
.card-task {
  padding: 0 10px;
  color: var(--text);
}
.card-btn {
  background: var(--card-bg);
  padding: 9px 10px;
  outline: none;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  transition: 0.2s ease-in-out;
}
.icon-btn {
  color: var(--icon-color);
  font-size: 18px;
}

.card-btn:hover {
  scale: 1.2;
  box-shadow: 3px 3px 4px #2424246e;
}
.card-task-time {
  font-size: 12px;
  padding: 10px 0px 0;
}
.clock-icon {
  color: var(--text-color);
}

.card-btn:hover .icon-del {
  color: red !important;
}

.card-task-text {
  font-weight: 600;
}

.edited{
  font-size: 13px;
  color: #7c7c7c;
  font-style:oblique;
  font-weight: 500;
}

@media (max-width: 770px) and (min-width: 368px) {
  input {
    padding: 18px 15px 15px;
    font-size: 14px;
  }
  .btn {
    width: 80px;
    height: 40px;
  }
  .card {
    padding: 15px 10px;
  }
  .card-task-text {
    font-size: 14px;
  }
  .card-task-time {
    font-size: 11px;
    padding: 3px 0px 0;
  }
  .icon-btn {
    font-size: 18px;
  }

  .card-btn {
    padding: 5px 7px;
  }
}

@media (max-width: 568px) and (min-width: 324px) {
  h1{
    font-size: 25px;
    letter-spacing: normal;
    margin-top: 80px;
  }
  input {
    padding: 18px 15px 15px;
    font-size: 14px;
  }
  .btn {
    width: 70px;
    height: 45px;
  }
  .card {
    padding: 15px 10px;
  }
  .icon-btn {
    font-size: 20px;
  }

  form,
  .task-list_container {
    width: 80%;
  }
  form {
    margin-top: 30px;
  }
}